spring:
  application:
    name: orders-service
  datasource:
    url: jdbc:h2:mem:ordersdb;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: false
  kafka:
    bootstrap-servers: kafka:9092
    consumer:
      group-id: orders-service-group
      auto-offset-reset: earliest
    listener:
      ack-mode: record

server:
  port: 8081

orders:
  kafka:
    payment-request-topic: order-payment-request
    payment-status-topic: payment-status

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html