version: "3.9"

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1

  orders-service:
    build: ./orders-service
    depends_on:
      - kafka
    environment:
      SPRING_PROFILES_ACTIVE: default
    ports:
      - "8081:8081"

  payments-service:
    build: ./payments-service
    depends_on:
      - kafka
    environment:
      SPRING_PROFILES_ACTIVE: default
    ports:
      - "8082:8082"

  api-gateway:
    build: ./api-gateway
    depends_on:
      - orders-service
      - payments-service
    ports:
      - "8080:8080"

  frontend:
    build: ./frontend
    depends_on:
      - api-gateway
    ports:
      - "3000:80"